@charset "UTF-8";
/* --------------------------
BASE
-------------------------- */
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  color: #333333;
  font-family: "游ゴシック体", "YuGothic", "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
  letter-spacing: 0.05em;
}

img {
  width: 100%;
  vertical-align: bottom;
}

.section-wrapper {
  padding: 120px 4vw;
}

.section-wrapper:first-of-type {
  padding-bottom: 0;
}

.section-wrapper:nth-of-type(3) {
  padding: 60px 0;
}

.section-wrapper:last-of-type {
  padding-bottom: 135px;
}

.section-wrapper .section-inner {
  max-width: 870px;
  margin: 0 auto;
}

.section-wrapper .section-title {
  font-weight: bold;
  font-size: 3.6rem;
  text-align: center;
  margin-bottom: 20px;
}

.section-wrapper .under-bar {
  width: 100px;
  height: 3px;
  background-color: #333333;
  margin: 0 auto 80px;
}

/* --------------------------
header
-------------------------- */
.header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .site-title {
  margin-left: 50px;
}

.header .site-title a img {
  width: 100px;
  -o-object-fit: cover;
     object-fit: cover;
}

.header .header-nav-wrapper .header-nav {
  display: none;
}

.header .burger-btn {
  display: block;
  width: 100px;
  height: 100px;
  background-color: #FF2A2A;
  position: relative;
}

.header .burger-btn .bars .bar {
  display: block;
  width: 50px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  left: 25px;
}

.header .burger-btn .bars .bar-top {
  top: 36px;
}

.header .burger-btn .bars .bar-mid {
  top: 50px;
}

.header .burger-btn .bars .bar-bottom {
  top: 64px;
}

main {
  /* --------------------------
    fv
    -------------------------- */
  /* --------------------------
    reason
    -------------------------- */
  /* --------------------------
    voice
    -------------------------- */
  /* --------------------------
    summary
    -------------------------- */
  /* --------------------------
    apply 
    -------------------------- */
}

main .fv {
  width: 100%;
  height: 720px;
  position: relative;
}

main .fv .main-copy {
  position: absolute;
  top: 280px;
  left: 10%;
  z-index: 10;
}

main .fv .main-copy p {
  font-size: 4.6rem;
  font-weight: bold;
  color: #333333;
  line-height: 1.6;
}

main .fv .main-copy .link-btn {
  font-size: 2.4rem;
  margin-top: 30px;
  color: #fff;
  background-color: #FF0033;
  border-radius: 10px;
  padding: 15px 35px;
  display: block;
  border-bottom: 6px solid #7A051C;
  text-align: center;
  width: 480px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: relative;
}

main .fv .main-copy .link-btn::after {
  content: "";
  width: 16px;
  height: 16px;
  border-top: 3px solid #fff;
  border-right: 3px solid #fff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  top: 19px;
  right: 35px;
}

main .fv .main-copy .link-btn:hover {
  opacity: .9;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

main .fv .main-visual {
  top: 0;
  right: 0;
  width: 75%;
  position: absolute;
}

main .fv .main-visual .img-list .img-item {
  opacity: 0;
  -webkit-animation: fade 15s infinite;
          animation: fade 15s infinite;
  position: absolute;
  top: 0;
  right: 0;
}

main .fv .main-visual .img-list .img-item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-box-shadow: inset 0 0 20px 20px #fff;
          box-shadow: inset 0 0 20px 20px #fff;
}

main .fv .main-visual .img-list .img-item:nth-child(1) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

main .fv .main-visual .img-list .img-item:nth-child(2) {
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}

main .fv .main-visual .img-list .img-item:nth-child(3) {
  -webkit-animation-delay: 10s;
          animation-delay: 10s;
}

main .fv .main-visual .img-list .img-item img {
  width: 100%;
  height: 720px;
  -o-object-fit: cover;
     object-fit: cover;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  45% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  45% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

main #reason {
  padding-left: 0;
  padding-right: 0;
}

main #reason .reason-content-wrapper {
  background-color: #FF2A2A;
  width: 100%;
  padding: 80px 0;
}

main #reason .reason-content-wrapper .reason-content {
  width: 50%;
  background-color: #fff;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 70px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
}

main #reason .reason-content-wrapper .reason-content img {
  height: 60px;
  width: 87px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 30px;
}

main #reason .reason-content-wrapper .reason-content .text-wrapper .text-title {
  font-size: 2.8rem;
  font-weight: bold;
  color: #FF2A2A;
}

main #reason .reason-content-wrapper .reason-content .text-wrapper .content-text {
  font-size: 1.8rem;
}

main #reason .reason-content-wrapper .reason-content:nth-child(2) {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-top: 40px;
}

main #reason .reason-content-wrapper .reason-content:nth-child(2) img {
  height: 60px;
  width: 51px;
  -o-object-fit: cover;
     object-fit: cover;
}

main #reason .reason-content-wrapper .slide-left {
  -webkit-animation-name: slide-left;
          animation-name: slide-left;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

main #reason .reason-content-wrapper .slide-right {
  -webkit-animation-name: slide-right;
          animation-name: slide-right;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slide-left {
  0% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(150%);
            transform: translateX(150%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

@keyframes slide-right {
  0% {
    -webkit-transform: translateX(150%);
            transform: translateX(150%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

main #voice .section-inner .balloon {
  -webkit-animation-name: balloon;
          animation-name: balloon;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

main #voice .section-inner .l-student-voice-wrapper {
  margin-bottom: 79px;
  opacity: 0;
}

main #voice .section-inner .l-student-voice-wrapper:last-of-type {
  margin-bottom: 0;
}

main #voice .section-inner .l-student-voice-wrapper:nth-child(2) .student-voice {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

main #voice .section-inner .l-student-voice-wrapper .student-voice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main #voice .section-inner .l-student-voice-wrapper .student-voice .student .img-wrapper {
  margin-bottom: 10px;
}

main #voice .section-inner .l-student-voice-wrapper .student-voice .student .img-wrapper img {
  width: 120px;
  height: 120px;
  border-radius: 60px;
  background-color: #CCCCCC;
  -o-object-fit: cover;
     object-fit: cover;
}

main #voice .section-inner .l-student-voice-wrapper .student-voice .student .student-name {
  text-align: center;
  font-size: 1.2rem;
}

main #voice .section-inner .l-student-voice-wrapper .student-voice .student-text-wrapper {
  background-color: #E9F1FB;
  width: 60%;
  border-radius: 15px;
  padding: 20px;
  position: relative;
  margin-left: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main #voice .section-inner .l-student-voice-wrapper .student-voice .student-text-wrapper p {
  line-height: 1.6875;
}

main #voice .section-inner .l-student-voice-wrapper .student-voice .student-text-wrapper::before {
  content: "";
  position: absolute;
  top: 60%;
  left: 0;
  margin-left: -30px;
  border: 15px solid transparent;
  border-right: 15px solid #E9F1FB;
}

main #voice .section-inner .r-student-voice-wrapper {
  margin-bottom: 79px;
  opacity: 0;
}

main #voice .section-inner .r-student-voice-wrapper .student-voice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

main #voice .section-inner .r-student-voice-wrapper .student-voice .student {
  margin-left: 25px;
}

main #voice .section-inner .r-student-voice-wrapper .student-voice .student .img-wrapper {
  margin-bottom: 10px;
}

main #voice .section-inner .r-student-voice-wrapper .student-voice .student .img-wrapper img {
  width: 120px;
  height: 120px;
  border-radius: 60px;
  background-color: #CCCCCC;
  -o-object-fit: cover;
     object-fit: cover;
}

main #voice .section-inner .r-student-voice-wrapper .student-voice .student .student-name {
  text-align: center;
  font-size: 1.2rem;
}

main #voice .section-inner .r-student-voice-wrapper .student-voice .student-text-wrapper {
  background-color: #E9F1FB;
  padding: 20px;
  border-radius: 15px;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

main #voice .section-inner .r-student-voice-wrapper .student-voice .student-text-wrapper::before {
  content: "";
  position: absolute;
  top: 60%;
  right: 0;
  border: 15px solid transparent;
  border-left: 15px solid #E9F1FB;
  margin-right: -30px;
}

main #voice .section-inner .r-student-voice-wrapper .student-voice .student-text-wrapper p {
  line-height: 1.6875;
}

@-webkit-keyframes balloon {
  0% {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes balloon {
  0% {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

main #summary {
  background: url(../img/bg.gif);
  -webkit-animation: fall 10s infinite linear;
          animation: fall 10s infinite linear;
}

main #summary .summary-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main #summary .summary-list .summary-item {
  max-width: 410px;
  background-color: #FFFFFF;
  border-radius: 20px;
  padding: 60px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main #summary .summary-list .summary-item:first-of-type {
  margin-bottom: 32px;
}

main #summary .summary-list .summary-item:nth-of-type(2) {
  margin-bottom: 32px;
}

main #summary .summary-list .summary-item .summary-title {
  text-align: center;
  line-height: 1;
  margin-bottom: 30px;
}

main #summary .summary-list .summary-item .summary-title .ja-title {
  font-size: 2.8rem;
  font-weight: bold;
  display: block;
  margin-bottom: 15px;
}

main #summary .summary-list .summary-item .summary-title .en-title {
  font-size: 1.8rem;
  font-weight: bold;
}

@-webkit-keyframes fall {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -700px 700px;
  }
}

@keyframes fall {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -700px 700px;
  }
}

main #apply .apply-title {
  font-size: 3.2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5px;
}

main #apply .apply-subtitle {
  font-size: 1.8rem;
  margin-bottom: 40px;
  text-align: center;
}

main #apply .apply-btn {
  width: 100%;
  background-color: #FF2A2A;
  border-radius: 40px;
  padding: 15px 0;
  text-align: center;
  color: #fff;
  font-size: 2.8rem;
  font-weight: bold;
  display: block;
}

main #apply .apply-btn:hover {
  opacity: .3;
  -webkit-transition: .3s;
  transition: .3s;
}

/* --------------------------
footer
-------------------------- */
.footer {
  background-color: #E8E8E8;
  padding: 60px 4vw 20px;
}

.footer a:hover {
  opacity: 0.3;
  -webkit-transition: .3s;
  transition: .3s;
}

.footer .footer-inner {
  max-width: 870px;
  margin: 0 auto 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.footer .footer-inner .footer-content {
  width: calc(100% / 4);
}

.footer .footer-inner .footer-content .title {
  font-weight: bold;
}

.footer .footer-inner .footer-content .footer-list {
  padding: 10px 0 0 10px;
}

.footer .footer-bottom {
  text-align: center;
  display: block;
}

/* --------------------------
import
-------------------------- */
@media screen and (max-width: 900px) {
  /* --------------------------
    base 
    -------------------------- */
  .section-wrapper {
    padding: 80px 5%;
  }
  .section-wrapper:first-of-type {
    padding-bottom: 0;
  }
  .section-wrapper:nth-of-type(3) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .section-wrapper .section-title {
    font-size: 2.8rem;
  }
  .section-wrapper .under-bar {
    width: 80px;
    margin-bottom: 40px;
  }
  /* --------------------------
    header
    -------------------------- */
  .header .site-title {
    margin-left: 25px;
  }
  .header .burger-btn {
    width: 75px;
    height: 75px;
  }
  .header .burger-btn .bars .bar {
    width: 35px;
    left: 20px;
  }
  .header .burger-btn .bars .bar-top {
    top: 26px;
  }
  .header .burger-btn .bars .bar-mid {
    top: 37px;
  }
  .header .burger-btn .bars .bar-bottom {
    top: 48px;
  }
  main {
    /* --------------------------
        fv
        -------------------------- */
    /* --------------------------
        reason 
        -------------------------- */
    /* --------------------------
        voice
        -------------------------- */
  }
  main .fv {
    height: 490px;
  }
  main .fv .main-copy {
    top: 310px;
  }
  main .fv .main-copy p {
    font-size: 2.8rem;
  }
  main .fv .main-copy .link-btn {
    width: 343px;
    margin-top: 10px;
  }
  main .fv .main-visual {
    width: 100%;
  }
  main .fv .main-visual .img-list .img-item img {
    height: 100%;
  }
  main #reason .reason-content-wrapper {
    padding: 40px 0;
  }
  main #reason .reason-content-wrapper .reason-content {
    width: calc(100% - 16px);
    padding: 24px 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  main #reason .reason-content-wrapper .reason-content .text-wrapper {
    font-size: 2.4rem;
  }
  @-webkit-keyframes slide-left {
    0% {
      -webkit-transform: translateX(-100%);
              transform: translateX(-100%);
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-left {
    0% {
      -webkit-transform: translateX(-100%);
              transform: translateX(-100%);
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @-webkit-keyframes slide-right {
    0% {
      -webkit-transform: translateX(100%);
              transform: translateX(100%);
    }
    100% {
      -webkit-transform: translateX(16px);
              transform: translateX(16px);
      opacity: 1;
    }
  }
  @keyframes slide-right {
    0% {
      -webkit-transform: translateX(100%);
              transform: translateX(100%);
    }
    100% {
      -webkit-transform: translateX(16px);
              transform: translateX(16px);
      opacity: 1;
    }
  }
}
/*# sourceMappingURL=style.css.map */