@media screen and (max-width: 900px) {
    /* --------------------------
    base 
    -------------------------- */
    .section-wrapper {
        padding: 80px 4%;
        &:first-of-type {
            padding-bottom: 0;
        }
        &:nth-of-type(3) {
            padding-top: 60px;
            padding-bottom: 60px;
        }
        .section-title {
            font-size: 2.8rem;
        }
        .under-bar {
            width: 80px;
            margin-bottom: 40px;
        }
    }

    /* --------------------------
    header
    -------------------------- */
    .header {
        .site-title {
            margin-left: 25px;
        }
        .burger-btn {
            width: 75px;
            height: 75px;
            .bars {
                .bar {
                    width: 35px;
                    left: 20px;
                }
                .bar-top {
                    top: 26px;
                }
                .bar-mid {
                    top: 37px;
                }
                .bar-bottom {
                    top: 48px;
                }
            }
        }
    }

    main {
        /* --------------------------
        fv
        -------------------------- */
        .fv {
            height: 490px;
            .main-copy {
                top: 310px;
                p {
                    font-size: 2.8rem;
                }
                .link-btn {
                    width: 343px;
                    margin-top: 10px;
                }
            }
            .main-visual {
                width: 100%;
                .img-list {
                    .img-item {
                        img {
                            height: 100%;
                        }
                    }
                }
            }
        }



        /* --------------------------
        reason 
        -------------------------- */
        #reason {
            .reason-content-wrapper {
                padding: 40px 0;
                .reason-content {
                    width: calc(100% - 16px);
                    padding: 24px 20px;
                    box-sizing: border-box;
                    .text-wrapper {
                        font-size: 2.4rem;
                    }
                }
            }
            @keyframes slide-left {
                0% {
                    transform: translateX(-100%);
                }
                100% {
                    transform: translateX(0);
                    opacity: 1;
                }
            }
            @keyframes slide-right {
                0% {
                    transform: translateX(100%);
                }
                100% {
                    transform: translateX(16px);
                    opacity: 1;
                }
            }
        }

        /* --------------------------
        voice
        -------------------------- */
        #voice {
            .section-inner {
                .l-student-voice-wrapper {
                    margin-bottom: 40px;
                    &:last-of-type {
                        margin-bottom: 0;
                    }
                    .student-voice {
                        display: block;
                        .student {
                            .img-wrapper {
                                text-align: center;
                            }
                        }
                        .student-text-wrapper {
                            width: 100%;
                            margin: 30px auto 0;
                            box-sizing: border-box;
                            position: relative;
                            &::before {
                                content: none;
                            }
                            p::before {
                                content: "";
                                position: absolute;
                                left: 50%;
                                transform: translateX(-50%);
                                top: -15px;
                                display: block;
                                width: 0;
                                height: 0;
                                border-right: 15px solid transparent;
                                border-bottom: 15px solid #E9F1FB;
                                border-left: 15px solid transparent;
                            }
                        }
                    }
                }
                .r-student-voice-wrapper {
                    margin-bottom: 40px;
                    .student-voice {
                        display: block;
                        .student {
                            margin-left: 0;
                            .img-wrapper {
                                text-align: center;
                            }
                        }
                        .student-text-wrapper {
                            width: 100%;
                            margin: 30px auto 0;
                            position: relative;
                            box-sizing: border-box;
                            &::before {
                                content: none;
                            }
                            p::before {
                                content: "";
                                position: absolute;
                                left: 50%;
                                transform: translateX(-50%);
                                top: -15px;
                                display: block;
                                width: 0;
                                height: 0;
                                border-right: 15px solid transparent;
                                border-bottom: 15px solid #E9F1FB;
                                border-left: 15px solid transparent;
                            }
                        }
                    }
                }
            }
        }



        /* --------------------------
        summary
        -------------------------- */
        #summary {
            .summary-list {
                display: block;
                padding: 0 4%;
                .summary-item {
                    width: 100%;
                    margin: 0 auto 32px;
                    &:last-of-type {
                        margin-bottom: 0;
                    }
                }
            }
        }



        /* --------------------------
        apply
        -------------------------- */
        #apply {
            padding: 80px 4%;
            .apply-title {
                font-size: 2.4rem;
            }
            .apply-subtitle {
                font-size: 1.6rem;
            }
            .apply-btn {
                font-size: 2.4rem;
            }
        }
    }


    /* --------------------------
    footer
    -------------------------- */
    .footer {
        padding-left: 4%;
        padding-right: 4%;
        .footer-inner {
            width: 100%;
            margin: 0;
            flex-wrap: wrap;
            .footer-content {
                width: 50%;
                .title {
                    font-size: 1.5rem;
                }
                .footer-list {
                    font-size: 1.2rem;
                    &:first-of-type {
                        margin-bottom: 30px;
                    }
                    &:nth-of-type(2) {
                        margin-bottom: 30px;
                    }
                }
            }
        }
    }
}