/* --------------------------
BASE
-------------------------- */
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    color: #333333;
    font-family: "游ゴシック体", "YuGothic", "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
}
img {
    width: 100%;
    vertical-align: bottom;
}

.section-wrapper {
    padding: 120px 4vw;
    &:first-of-type {
        padding-bottom: 0;
    }
    &:nth-of-type(3) {
        padding: 60px 0;
    }
    .section-inner {
        max-width: 860px;
        margin: 0 auto;
    }
    .section-title {
        font-weight: bold;
        font-size: 3.6rem;
        text-align: center;
        margin-bottom: 20px;
    }
    .under-bar {
        width: 100px;
        height: 3px;
        background-color: #333333;
        margin: 0 auto 80px;
    }
}


/* --------------------------
header
-------------------------- */
.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .site-title {
        margin-left: 50px;
        a {
            img {
                width: 100px;
                object-fit: cover;
            }
        }
    }
    .header-nav-wrapper {
        .header-nav {
            display: none;
        }
    }
    .burger-btn {
        display: block;
        width: 100px;
        height: 100px;
        background-color: #FF2A2A;
        position: relative;
        .bars {
            .bar {
                display: block;
                width: 50px;
                height: 2px;
                background-color: #fff;
                position: absolute;
                left: 25px;
            }
            .bar-top {
                top: 36px;
            }
            .bar-mid {
                top: 50px;
            }
            .bar-bottom {
                top: 64px;
            }
        }
    }
}




/* --------------------------
fv
-------------------------- */





/* --------------------------
BASE
-------------------------- */



/* --------------------------
BASE
-------------------------- */