/* --------------------------
BASE
-------------------------- */
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    color: #333333;
    font-family: "游ゴシック体", "YuGothic", "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
    letter-spacing: 0.05em;
}
img {
    width: 100%;
    vertical-align: bottom;
}

.section-wrapper {
    padding: 120px 4vw;
    &:first-of-type {
        padding-bottom: 0;
    }
    &:nth-of-type(3) {
        padding: 60px 0;
    }
    &:last-of-type {
        padding-bottom: 135px;
    }
    .section-inner {
        max-width: 870px;
        margin: 0 auto;
    }
    .section-title {
        font-weight: bold;
        font-size: 3.6rem;
        text-align: center;
        margin-bottom: 20px;
    }
    .under-bar {
        width: 100px;
        height: 3px;
        background-color: #333333;
        margin: 0 auto 80px;
    }
}


/* --------------------------
header
-------------------------- */
.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .site-title {
        margin-left: 50px;
        a {
            img {
                width: 100px;
                object-fit: cover;
            }
        }
    }
    .header-nav-wrapper {
        .header-nav {
            display: none;
        }
    }
    .burger-btn {
        display: block;
        width: 100px;
        height: 100px;
        background-color: #FF2A2A;
        position: relative;
        .bars {
            .bar {
                display: block;
                width: 50px;
                height: 2px;
                background-color: #fff;
                position: absolute;
                left: 25px;
            }
            .bar-top {
                top: 36px;
            }
            .bar-mid {
                top: 50px;
            }
            .bar-bottom {
                top: 64px;
            }
        }
    }
}




/* --------------------------
fv
-------------------------- */
.fv {
    width: 100%;
    height: 100vh;
    position: relative;
    .main-copy {
        position: absolute;
        top: 280px;
        left: 10%;
        z-index: 10;
        p {
            font-size: 4.6rem;
            font-weight: bold;
            color: #333333;
            line-height: 1.6;
        }
        .link-btn {
            font-size: 2.4rem;
            margin-top: 30px;
            color: #fff;
            background-color: #FF0033;
            border-radius: 10px;
            padding: 15px 35px;
            display: block;
            border-bottom: 6px solid #7A051C;
            text-align: center;
            width: 480px;
            box-sizing: border-box;
            transition: 0.3s;
            position: relative;
            &::after {
                content: "";
                width: 16px;
                height: 16px;
                border-top: 3px solid #fff;
                border-right: 3px solid #fff;
                transform: rotate(45deg);
                position: absolute;
                top: 19px;
                right: 35px;
            }
            &:hover {
                opacity: .9;
                transform: scale(1.05);
            }
        }
    }
    .main-visual {
        top: 0;
        right: 0;
        width: 75%;
        position: absolute;
        .img-list {
            .img-item {
                opacity: 0;
                animation: fade 15s infinite;
                position: absolute;
                top: 0;
                right: 0;
                &::after {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    box-shadow: inset 0 0 20px 20px #fff;
                }
                &:nth-child(1) {
                    animation-delay: 0s;
                }
                &:nth-child(2) {
                    animation-delay: 5s;
                }
                &:nth-child(3) {
                    animation-delay: 10s;
                }
                img {
                    width: 100%;
                    height: 100vh;
                    object-fit: cover;
                }
            }
        }
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    15% {
        opacity: 1;
    }
    30% {
        opacity: 1;
    }
    45% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}




/* --------------------------
reason
-------------------------- */
#reason {
    padding-left: 0;
    padding-right: 0;
    .reason-content-wrapper {
        background-color: #FF2A2A;
        width: 100%;
        padding: 80px 0;
        .reason-content {
            width: 50%;
            background-color: #fff;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
            padding: 70px 0;
            display: flex;
            align-items: center;
            justify-content: center;
            opacity: 0;
            img {
                height: 60px;
                width: 87px;
                object-fit: cover;
                margin-right: 30px;
            }
            .text-wrapper {
                .text-title {
                    font-size: 2.8rem;
                    font-weight: bold;
                    color: #FF2A2A;
                }
                .content-text {
                    font-size: 1.8rem;
                }
            }
            &:nth-child(2) {
                border-top-left-radius: 20px;
                border-bottom-left-radius: 20px;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                img {
                    height: 60px;
                    width: 51px;
                    object-fit: cover;
                }
            }
        }
        .slide-left {
            animation-name: slide-left;
            animation-duration: 0.5s;
            animation-timing-function: ease-out;
            animation-delay: 0s;
            animation-iteration-count: 1;
            animation-fill-mode: forwards;
        }
        .slide-right {
            animation-name: slide-right;
            animation-duration: 0.5s;
            animation-timing-function: ease-out;
            animation-delay: 0s;
            animation-iteration-count: 1;
            animation-fill-mode: forwards;
        }
    }
}

@keyframes slide-left {
    0% {
        transform: translateX(-50%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slide-right {
    0% {
        transform: translateX(150%);
    }
    100% {
        opacity: 1;
        transform: translateX(100%);
    }
}


/* --------------------------
voice
-------------------------- */
#voice {
    .section-inner {
        .balloon {
            animation-name: balloon;
            animation-delay: 0s;
            animation-duration: 0.5s;
            animation-timing-function: ease-out;
            animation-fill-mode: forwards;
            animation-iteration-count: 1;
        }
        .l-student-voice-wrapper {
            margin-bottom: 79px;
            opacity: 0;
            &:last-of-type {
                margin-bottom: 0;
            }
            &:nth-child(2) {
                .student-voice {
                    flex-direction: row-reverse;
                }
            }
            .student-voice {
                display: flex;
                .student {
                    .img-wrapper {
                        margin-bottom: 10px;
                        img {
                            width: 120px;
                            height: 120px;
                            border-radius: 60px;
                            background-color: #CCCCCC;
                            object-fit: cover;
                        }
                    }
                    .student-name {
                        text-align: center;
                        font-size: 1.2rem;
                    }
                }
                .student-text-wrapper {
                    background-color: #E9F1FB;
                    width: 60%;
                    border-radius: 15px;
                    padding: 20px;
                    position: relative;
                    margin-left: 25px;
                    display: flex;
                    justify-content: center;
                    p {
                        line-height: 1.6875;
                    }
                    &::before {
                        content: "";
                        position: absolute;
                        top: 60%;
                        left: 0;
                        margin-left: -30px;
                        border: 15px solid transparent;
                        border-right: 15px solid #E9F1FB;
                    }
                }
            }
        }
        .r-student-voice-wrapper {
            margin-bottom: 79px;
            opacity: 0;
            .student-voice {
                display: flex;
                align-items: center;
                flex-direction: row-reverse;
                .student {
                    margin-left: 25px;
                    .img-wrapper {
                        margin-bottom: 10px;
                        img {
                            width: 120px;
                            height: 120px;
                            border-radius: 60px;
                            background-color: #CCCCCC;
                            object-fit: cover;
                        }
                    }
                    .student-name {
                        text-align: center;
                        font-size: 1.2rem;
                    }
                }
                .student-text-wrapper {
                    background-color: #E9F1FB;
                    padding: 20px;
                    border-radius: 15px;
                    width: 60%;
                    display: flex;
                    justify-content: center;
                    position: relative;
                    &::before {
                        content: "";
                        position: absolute;
                        top: 60%;
                        right: 0;
                        border: 15px solid transparent;
                        border-left: 15px solid #E9F1FB;
                        margin-right: -30px;
                    }
                    p {
                        line-height: 1.6875;
                    }
                }
            }
        }
    }
}

@keyframes balloon {
    0% {
        transform: scale(0.1);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}


/* --------------------------
summary
-------------------------- */
#summary {
    background: url(../img/bg.gif);
    animation: fall 10s infinite linear;
    .summary-list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .summary-item {
            max-width: 410px;
            background-color: #FFFFFF;
            border-radius: 20px;
            padding: 60px;
            box-sizing: border-box;
            &:first-of-type {
                margin-bottom: 32px;
            }
            &:nth-of-type(2) {
                margin-bottom: 32px;
            }
            .summary-title {
                text-align: center;
                line-height: 1;
                margin-bottom: 30px;
                .ja-title {
                    font-size: 2.8rem;
                    font-weight: bold;
                    display: block;
                    margin-bottom: 15px;
                }
                .en-title {
                    font-size: 1.8rem;
                    font-weight: bold;
                }
            }
        }
    }
}
@keyframes fall {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -700px 700px;
    }
}



/* --------------------------
apply 
-------------------------- */
#apply {
    .apply-title {
        font-size: 3.2rem;
        font-weight: bold;
        text-align: center;
        margin-bottom: 5px;
    }
    .apply-subtitle {
        font-size: 1.8rem;
        margin-bottom: 40px;
        text-align: center;
    }
    .apply-btn {
        width: 100%;
        background-color: #FF2A2A;
        border-radius: 40px;
        padding: 15px 0;
        text-align: center;
        color: #fff;
        font-size: 2.8rem;
        font-weight: bold;
        display: block;
        &:hover {
            opacity: .3;
            transition: .3s;
        }
    }

}



/* --------------------------
footer
-------------------------- */
.footer {
    background-color: #E8E8E8;
    padding: 60px 4vw 20px;
    a:hover {
        opacity: 0.3;
        transition: .3s;
    }
    .footer-inner {
        max-width: 870px;
        margin: 0 auto 60px;
        display: flex;
        justify-content: space-between;
        align-items: start;
        .footer-content {
            width: calc(100% / 4);
            .title {
                font-weight: bold;
            }
            .footer-list {
                padding: 10px 0 0 10px;
            }
        }
    }
    .footer-bottom {
        text-align: center;
        display: block;
    }
}


/* --------------------------
import
-------------------------- */
@import url(./_media.scss);